body {
    font-family: Lato, Arial, sans-serif;
    background-color: #ffffff;
    color: #212121;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #212121; 
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.accordion-button {
    font-weight: 700;
    color: #212121; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.accordion-button:before {
    content: "\f05a";
    padding-right: 1rem;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    margin-left: 20px;
}

b {
    font-weight: 600;
}

a {
    color: #666666;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.card {
    border: 10px #212121;
    box-shadow: 0px;
    border-radius: 8px;
}

.card h4, .card h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.list-group-item {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.25;  
    color: #333;
    font-size: 0.95rem;
}

.form-check {
    display: flex;
    align-items: left;
    margin-bottom: 0.5rem;
}
.form-check-input {
    margin-right: 0.4rem;
}

footer {
    font-size: 0.85rem;
    color: #666666;
    margin-top: 1rem;
    text-align: center;
}

.tab {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-radius: 0rem;
    padding: 1.5rem;
}