body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.card h4, .card h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.list-group-item {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.3;  
}

.stack-tight > div {
    margin-bottom: 0.25rem;
}
